{% load crispy_forms_tags %}
{% load static %}
{% include "utils/messages.html" %}

  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-sub-header">
            <h3 class="page-title">{{heading}}</h3>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
                
              </li>
              <li class="breadcrumb-item"><a href="#" hx-target="#MDI" hx-push-url="{% url 'core:designationList' %}" hx-get="{% url 'core:designationList' %}">Designation List</a></li>
              <li class="breadcrumb-item active">{% if isUpdate %} Designation  Update {% else %} Designation Add {% endif %}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header mb-3">
            <h5 class="card-title">Enter Designation Information</h5>
          </div>
          <div class="card-body">
            <form action="." hx-target="#MDI" {% if isUpdate %} hx-post="{% url 'core:designationUpdate' object.id %}" {% else %} hx-post="{% url 'core:designationAdd' %}" {% endif %} >
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label">{{form.name.label}}</label>
                    <div class="col-lg-9">
                      {{form.name|as_crispy_field}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-end">
                <button type="submit"  class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'utils/acceptOnlyChars.html' %}

<script>
  acceptOnlyChars(['id_name'])
</script>